/* Partial SCSS stylesheet for main content */

.main {
  grid-area: main;
  overflow-y: scroll;
  display: grid;
  grid-template-columns: repeat(auto-fit, 250px);
  gap: 3rem;
  padding: 4rem;
}

.book-card {
  position: relative;
  height: 350px;
}

.book-cover {
  /* Alignment */
  @include absolute-cover;

  background-position: top;
  background-size: cover;
}

.book-info {
  /* Align the section */
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: 25%;

  /* Align the content */
  @include flex-center(column);
  gap: 2px;

  color: white;
  background: rgba(0, 0, 0, 0.5);

  .title {
    font-weight: 600;
    font-size: inherit;
  }

  button {
    cursor: pointer;
    font-size: 1.125rem;
    background: none;

    &:hover {
      color: $color-grey;
    }
  }

  .btn-remove {
    position: absolute;
    left: 1rem;
    bottom: 0.75rem;
  }

  .btn-status {
    position: absolute;
    right: 1rem;
    bottom: 0.75rem;
  }
}

#open-modal-btn {
  position: fixed;
  bottom: 2.5rem;
  /* This is to align it with the sign in button. Note that 1.75rem is
  half the button's width */
  right: calc(4rem + 1.75rem);
  z-index: 1;
  @include grid-center;

  cursor: pointer;
  font-size: 1.5rem;
  color: white;
  background: $color-blue;
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  transition: transform 0.4s ease-in-out;

  &:hover {
    transform: scale(1.25);
  }
}
