:root {
  --color-green: green;
  --color-red: #ff2f06;
  --color-blue: #0ea5e9;
  --color-grey: #64748b;
  --color-grey-light: hsl(0, 0%, 80%);
  --color-grey-lighter: #f4f4f4;
  --color-box-shadow: rgba(0, 0, 0, 0.2);
  --color-box-shadow-opaque: rgba(0, 0, 0, 0.4);
  --font-primary: 'Inter';
  --font-fallback-stack: system-ui, 'Segoe UI', Roboto, Helvetica, Arial,
    sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

/* 
Note: The custom property for the backdrop's background color must be defined in the
::backdrop pseudo-element since the element doesn't inherit from any other element
*/

::backdrop {
  --color-backdrop: rgba(0, 0, 0, 0.3);
}

/* Resets */

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  border: none;
}

/* Utility classes */

.flex-column {
  display: flex;
  flex-direction: column;
}

.grid-center {
  display: grid;
  place-items: center;
}

html {
  font-family: var(--font-primary), var(--font-fallback-stack);
}

html,
body,
.grid {
  height: 100%;
}

.grid {
  display: grid;
  grid:
    'header header' 150px
    'sidebar main' 1fr / 300px 1fr;
}

/* Header */

.header {
  grid-area: header;
  color: white;
  background: var(--color-blue);

  display: flex;
  justify-content: space-between;
  padding: 2.5rem 4rem;

  z-index: 1;
  box-shadow: 0 2px 16px var(--color-box-shadow-opaque);
}

.header .logo {
  display: flex;
  gap: 1.5rem;
}

.header .logo img {
  height: 100%;
}

.header .logo .company-name {
  font-weight: bold;
  font-size: 2.5rem;
}

.header .btn-sign-in {
  font-weight: 600;
  align-self: center;
  color: black;
  background: white;
  padding: 0.75rem 1.75rem;
  border-radius: 20px;
  box-shadow: 0 2px 16px var(--color-box-shadow);
}

.header .btn-sign-in:hover {
  filter: brightness(80%);
}

/* Sidebar */

.sidebar {
  grid-area: sidebar;
  justify-content: space-between;
  text-align: center;

  color: white;
  background: var(--color-grey);
  padding: 2.5rem 3rem;
}

.sidebar .statistics h2 {
  font-size: 1.875rem;
  margin-bottom: 1rem;
}

.sidebar .statistics p {
  font-size: 1.125rem;
  font-weight: 600;
  text-align: left;
  margin-bottom: 0.5rem;
}

.sidebar .statistics span {
  font-weight: normal;
  float: right;
}

.sidebar .attribution:hover {
  color: var(--color-grey-light);
}

/* Main */

.main {
  grid-area: main;
  position: relative;
}

#btn-open-modal {
  position: absolute;
  bottom: 2.5rem;
  /* For alignment with sign in button */
  right: calc(3.875rem + 3rem / 2);

  cursor: pointer;
  font-size: 1.5rem;
  color: white;
  background: var(--color-blue);
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  transition: transform 0.4s ease-in-out;
}

#btn-open-modal:hover {
  transform: scale(1.3);
}

/* Modal */

dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  border: none;
  border-radius: 3px;
  animation: dialog-fade-out 0.75s ease-out;
}

dialog[open] {
  animation: dialog-fade-in 0.75s ease-in;
}

dialog[open]::backdrop {
  animation: backdrop-fade-in 0.75s ease-out forwards;
}

@keyframes dialog-fade-in {
  from {
    opacity: 0;
    transform: scale(0);
    display: none;
  }

  to {
    opacity: 1;
    transform: scale(1);
    display: block;
  }
}

@keyframes dialog-fade-out {
  from {
    opacity: 1;
    transform: scale(1);
    display: block;
  }

  to {
    opacity: 0;
    transform: scale(0);
    display: none;
  }
}

@keyframes backdrop-fade-in {
  from {
    background: rgba(0, 0, 0, 0);
  }

  to {
    background: var(--color-backdrop);
  }
}

#book-form {
  gap: 0.5rem;
  background: var(--color-grey-lighter);
  padding: 2rem 4rem;
}

#book-form .form-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form-header h3 {
  font-size: 1.75rem;
}

.form-header #btn-close-modal {
  cursor: pointer;
  font-size: 1.5rem;
  color: var(--color-grey-light);
  background: inherit;
}

#book-form h3 {
  margin-bottom: 0.25rem;
}

#book-form .form-control input {
  display: block;
  border: 1px solid var(--color-grey-light);
  outline: none;
  padding: 0.5rem;
  margin-top: 0.375rem;
}

#book-form .form-control .error-msg {
  visibility: hidden;
  color: var(--color-red);
  font-size: 0.8rem;
  text-indent: 2px;
  margin-top: 2px;
}

#book-form .form-control input[type='checkbox'] {
  display: inline-block;
  margin-right: 4px;
}

#book-form .form-control input.valid {
  border: 1px solid var(--color-green);
}

#book-form .form-control input.invalid {
  border: 1px solid var(--color-red);
}

#book-form .form-control input:focus {
  border: 1px solid var(--color-blue);
}

#book-form button[type='submit'] {
  display: block;
  cursor: pointer;
  color: white;
  background: var(--color-blue);
  height: 3rem;
  width: 100%;
  margin: 0.5rem auto 0;
}

#book-form button[type='submit']:hover {
  filter: brightness(120%);
}
