/* Partial Sass stylesheet for variables */

/* Colors */
$color-red: #ff2f06;
$color-blue: #0ea5e9;
$color-grey: #cccccc;

/* Fonts */
$font-primary: 'Inter';
$font-stack-fallback: system-ui, 'Segoe UI', Roboto, Helvetica, Arial,
  sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
